*{
    margin: 0;
    padding: 0;
}

body,html{
    overflow-x: hidden;
    background-color:#00091a;
}

.row{
    color: antiquewhite;
}

.navbar{
    background-color: rgb(13, 27, 65);
}

.main-box{
    padding-bottom: 50px;
}

.navbar-nav .nav-link {
    margin-left: 10%;
    font-size: 1.2rem;
    color: rgb(213, 211, 211) !important;
    transition: transform 0.4s ease-in;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color: rgb(238, 187, 18) !important;
}

.navbar-nav .nav-link.active {
    color: rgb(21, 255, 0)  !important;
    font-weight: bold;
}

.navbar-toggler{
    background-color: rgb(21, 255, 0);
}

#name{
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(10deg, #ffaa00, #a800b7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-box{
    margin-left: 40px;
}

#about{
    margin-left: 10%;
    color:rgba(231, 117, 3, 0.707);
    font-weight: bolder;
    font-style:inherit;
    margin-top: 1%;
}

#about1{
    margin-left: 10%;
    color:rgba(231, 117, 3, 0.707);
    font-weight: bolder;
    font-style:inherit;
    margin-top: 5%;
}

.allAbout{
    margin-left: 20px;
    color: rgb(204, 202, 200);
    font-size: larger;
    font-weight: bold;
}

.dataAbout{
    margin-left: 1px;
    color: rgb(204, 202, 200);
}

.about-para{
    margin-top: 2px;
}

#selfImage{
    margin-top: 10px;
    height: 410px;
    width: 360px;
    min-width: 320px;
    border: 3px solid rgb(238, 0, 255);
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

#selfImage:hover {
    transform: translateY(-6px);
    border: 3px solid rgb(255, 162, 0);
}

.bi{
    color: rgb(193, 26, 226);
}

.row1{
    border-radius: 15px;
    border: 2.5px solid rgb(0, 200, 194);
    background: linear-gradient(10deg, #4c0b91, rgb(28, 119, 115));
    margin-top: 1.5%;   
    transition: all 0.3s ease-in-out;
}

.row1 h5{
    background: linear-gradient(10deg, #ffc400, #51ff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#heading{
    font-weight: bolder;
}

.row1:hover {
    transform: translateY(-6px);
}

.logog{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
}

@media(max-width : 990px){
    #selfImage{
        margin-top: 10px;
        height: 410px;
        width: 360px;
        min-width: 320px;
        border: 3px solid rgb(238, 0, 255);
        border-radius: 25px;
        display: flex;
        justify-self: center;
        margin-bottom: 10px;
    }

    #name{
        padding-left: 30%;
        font-size: 3rem;
    }
    
    .bi,.about-para{
        margin-top: 25px;
        margin-left: -5%;
    }
}

@media(max-width : 650px){
    #name{
        padding-left: 20%;
        font-size: 3rem;
    }
}

@media(max-width : 500px){
    #name{
        padding-left: 10%;
        font-size: 8vw;
    }

    .bi,.about-para{
        margin-left: -10%;
    }
}

@media(min-width : 770px){
    .row1{
        margin-left: 6%;
    }
}