#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    pointer-events: none;
}

*{
    margin: 0;
    padding: 0;
}

body,html{
    overflow-x: hidden;
    background-color:#00091a;
}

.row{
    color: antiquewhite;
}

.navbar{
    background-color: rgb(13, 27, 65);
}

.navbar-nav .nav-link {
    margin-left: 10%;
    font-size: 1.2rem;
    color: rgb(213, 211, 211) !important;
    transition: transform 0.4s ease-in;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color: rgb(238, 187, 18) !important;
}

.navbar-nav .nav-link.active {
    color: rgb(21, 255, 0)  !important;
    font-weight: bold;
}

.navbar-toggler{
    background-color: rgb(21, 255, 0);
}

#name{
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(10deg, #ffaa00, #a800b7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about{
    padding-left: 10%;
    color:rgba(231, 117, 3, 0.707);
    font-weight: bolder;
    font-style:inherit;
    margin-top: 1%;
}

.school{
    margin-left: 6%;
    margin-top: 1.5%;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.school:hover{
    transform: translateY(-4px);
}

.details{
    height: 220px;
    background-color: #160000;
    padding-left: 5%;
    padding-top: 7%;
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.details:hover{
    color: rgb(228, 228, 231);
    transform: scale(1.02);
}

.details:hover u{
    font-weight: bold;
    color:rgb(224, 192, 8);
}

.links a{
    color:rgb(0, 255, 242);
    text-decoration: none;
    font-weight: bold;
    font-style: oblique;
}

.details:hover .links a{
    color: rgb(255, 187, 0);
}

@media(max-width : 990px){
    #name{
        padding-left: 30%;
        font-size: 3rem;
    }
}

@media(max-width : 767px){
    .school{
        margin-left: 12%;
        margin-top: 3%;
    }

    .padd{
        margin-bottom: 20px;
    }
}

@media(max-width : 650px){
    #name{
        padding-left: 20%;
        font-size: 3rem;
    }
}

@media(max-width : 569px){
    .school{
        margin-left: 7.5%;
        margin-top: 5%;
    }
}

@media(max-width : 500px){
    #name{
        padding-left: 10%;
        font-size: 8vw;
    }
}
