*{
    margin: 0;
    padding: 0;
}

body,html{
    overflow-x: hidden;
    background-color:#00091a;
}

.navbar{
    background-color: rgb(13, 27, 65);
}

.navbar-nav .nav-link {
    margin-left: 10%;
    font-size: 1.2rem;
    color: rgb(213, 211, 211) !important;
    transition: transform 0.4s ease-in;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color: rgb(238, 187, 18) !important;
}

.navbar-nav .nav-link.active {
    color: rgb(21, 255, 0)  !important;
    font-weight: bold;
}

.navbar-toggler{
    background-color: rgb(21, 255, 0);
}

#name{
    font-size: 2.5rem;
    color: rgb(213, 211, 211);
    font-weight: bold;
}

.address {
    margin: 2px 0;
    line-height: 1.2;
}


#icon_lnk{
    font-size: larger;
    display: flex;
    gap: 8%;
}

.col-md-5{
    background-color: rgb(13, 27, 65);
    color: aliceblue;
    margin-top: 10px;
    padding-top: 1.5%;
    padding-bottom: 20px;
    font-size: 25px;
}

#con{
    margin-left: 16%;
    color:rgba(231, 117, 3, 0.707);
    font-weight: bolder;
    font-style:inherit;
    margin-top: 10px;
}

#heading{
    font-size: large;
    font-weight: bold;
    color: rgb(21, 255, 0);
    padding-top: 1%;
}

@media(max-width : 990px){
    #name{
        padding-left: 30%;
        font-size: 3rem;
    }
}

@media(max-width : 767px){
    .padd{
        margin-bottom:20px;
    }
}

@media(max-width : 650px){
    #name{
        padding-left: 20%;
        font-size: 3rem;
    }
}

@media(max-width : 500px){
    #name{
        padding-left: 10%;
        font-size: 8vw;
    }
}
