*{
    margin: 0;
    padding: 0;
}

body, html{
    overflow-x: hidden;
    background-color: #00091a;
}

.row{
    color: antiquewhite;
}

.navbar{
    background-color: rgb(13, 27, 65);
}

.navbar-nav .nav-link {
    margin-left: 10%;
    font-size: 1.2rem;
    color: rgb(213, 211, 211) !important;
    transition: transform 0.4s ease-in;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color: rgb(238, 187, 18) !important;
}

.navbar-nav .nav-link.active {
    color: rgb(21, 255, 0)  !important;
    font-weight: bold;
}

.navbar-toggler{
    background-color: rgb(21, 255, 0);
}

#name{
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(10deg, #ffaa00, #a800b7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about{
    padding-left: 5%;
    color:rgba(231, 117, 3, 0.707);
    font-weight: bolder;
    margin-top: 1%;
}

/* Education Cards */
.education-card{
    background: linear-gradient(90deg, #272525, rgb(80, 79, 79));
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    transition: transform 0.3s ease-in-out;
    /* margin-bottom: 10px; */
    margin-top: 10px;
}

.education-card:hover{
    transform: scale(1.03);
    background-color: rgb(17, 39, 100);
}

.education-card:hover u{
    color: #ffe600;
}

.education-img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.education-info h6, .education-info h5{
    margin: 5px 0;
}

.education-info h5{
    color: #af00d6;
    margin-top: 10px;
    margin-bottom: 10px;
}


.links a{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 6px;
    font-weight: 500;
}

.links a:hover{
    color: rgb(34, 255, 0);
}

.achievements {
    margin-top: 20px;
    color: #fff;
}

.achievement-item {
    background: linear-gradient(90deg, #d6d4d4, rgb(84, 53, 171));
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 12px 15px;
    transition: transform 0.3s, background-color 0.3s;
}

.achievement-item:hover {
    transform: scale(1.02);
    background-color: rgb(17, 39, 100);
}


/* Responsive */
@media(max-width: 990px){
    #name{
        padding-left: 25%;
        font-size: 2.5rem;
    }
}

@media(max-width: 575px){
    .education-card{
        width: 100%;
    }
    #name{
        padding-left: 10%;
        font-size: 6vw;
    }
}
