*{
    margin: 0;
    padding: 0;
}

body,html{
    background-color:#00091a;
    overflow-x: hidden;
}

.container{
    background-color:#00091a;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    color: rgb(213, 211, 211) !important;
    transition: transform 0.2s ease-in;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color: rgb(238, 187, 18) !important;
}

.navbar-nav .nav-link.active {
    color: rgb(21, 255, 0)  !important;
    font-weight: bold;
}

.bi:hover{
    color: rgb(4, 232, 72);
}

.navbar-toggler{
    background-color: rgb(21, 255, 0);
}

#name h1{
    font-size: 5vw;
    padding-top: 15%;
    font-weight: 700;
    background: linear-gradient(10deg, #00eaff, #0010b7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.row h3{
    color: rgb(225, 225, 225);
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bttn{
    margin-left: 200px;
}

.bttn button{
    width: 115px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid rgb(207, 200, 17);
    margin-left: 20px;
    margin-top: -180px;
    font-size: larger;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    background: linear-gradient(10deg, #d900ff, #006bb7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bttn button:hover{
    border: 3px solid rgb(100, 4, 121);
    scale: 1.08;
    background: linear-gradient(10deg, #09b700, #0040ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#message{
    background: linear-gradient(10deg, #b7ae00, #fb00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#icon-link{
    padding-top: 1%;
    padding-bottom: 17%;
}

#icon-link a{
    margin-left: 10px;
    font-size: 30px;
    padding-right: 30px;
    color: rgb(237, 233, 233);
}

@media(max-width : 1400px){
    .bttn {
        margin-left: 170px;
        margin-top: 20px;
    }
}

@media(max-width : 1200px){
    .bttn {
        margin-left: 140px;
        margin-top: 50px;
    }
}


@media(max-width : 991px){
    .navbar-collapse {
        top: 50px;
        right: 15px;
        width: 100%;
        background-color: #00091a;
        padding: 15px;
        text-align: center;
        border-radius: 5px;
        z-index: 3000;
    }

    #name h1{
        font-size: 7vw;
        margin-top: 1%;
        margin-left: 7%;
    }

    .col-8{
        margin-top: 1%;
        margin-left: 23%;
    }

    #icon-link{
        margin-top: 1%;
        margin-left: 22%;
    }

    .bttn {
        margin-left: 140px;
        margin-top: 80px;
    }
}

@media(max-width : 768px){
    .bttn {
        margin-left: 145px;
        margin-top: 85px;
    }
}

@media(max-width : 763px){
    .bttn {
        margin-left: 105px;
        margin-top: 115px;
    }
}

@media(max-width : 580px){
    #name h1{
        font-size: 9vw;
        margin-top: 25%;
        margin-left: 5%;
    }

    .col-8{
        margin-top: 1%;
        margin-left: 21%;
    }

    #icon-link{
        margin-top: 1%;
        margin-left: 20%;
    }
}


@media(max-width : 500px){
    .bttn {
        margin-left: 80px;
        margin-top: 125px;
    }
}

@media(max-width : 440px){
    #name h1{
        font-size: 12vw;
        margin-top: 35%;
        margin-left: -10%;
    }

    .col-8{
        margin-top: 1%;
        margin-left: 10%;
    }

    #icon-link{
        margin-top: 1%;
        margin-left: 10%;
    }

    .bttn {
        margin-left: 20px;
        margin-top: 145px;
    }
}


