#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    pointer-events: none;
}

*{
    margin: 0;
    padding: 0;
}

body,html{
    overflow-x: hidden;
    background-color:#00091a;
}

.row{
    color: antiquewhite;
}

.navbar{
    background-color: rgb(13, 27, 65);
}

.navbar-nav .nav-link {
    margin-left: 10%;
    font-size: 1.2rem;
    color: rgb(213, 211, 211) !important;
    transition: transform 0.4s ease-in;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color: rgb(238, 187, 18) !important;
}

.navbar-nav .nav-link.active {
    color: rgb(21, 255, 0)  !important;
    font-weight: bold;
}

.navbar-toggler{
    background-color: rgb(21, 255, 0);
}

#name{
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(10deg, #ffaa00, #a800b7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about{
    padding-left: 10%;
    color:rgba(231, 117, 3, 0.707);
    font-weight: bolder;
    font-style:inherit;
    margin-top: 1%;
}

.school{
    margin-bottom: 20px;
}

.details{
    background-color: #160000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    /* height: 380px; Increased height */
    width: 90%; /* Reduced width slightly */
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.details:hover {
    background-color: rgb(20, 24, 36);
    transform: scale(1.02);
}

.details:hover .project-info u {
    color: #ffe600;
}

.project-img{
    width: 100%;
    height: 180px !important;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-info h6{
    margin: 5px 0;
    margin-top: 13px;
}

.links a{
    color: #dcdde0;
    text-decoration: none;
    font-style: oblique;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

.links a:hover{
    color: rgb(34, 255, 0);
}

@media(max-width : 990px){
    #name{
        padding-left: 30%;
        font-size: 3rem;
    }
}

@media(max-width : 767px){
    .projDiv {
        margin-left: 30px;
    }
}

@media(max-width : 650px){
    #name{
        padding-left: 20%;
        font-size: 3rem;
    }
}

@media(max-width : 575px){
    .school{
        margin-left: 0;
    }

    .projDiv{
        margin-left: 23px;
    }

}

@media(max-width : 500px){
    #name{
        padding-left: 10%;
        font-size: 8vw;
    }

    .projDiv{
        margin-left: 18px;
    }
}

@media(max-width : 460px){
    #name{
        padding-left: 10%;
        font-size: 8vw;
    }

    .projDiv{
        margin-left: 16px;
    }
}
