*{
    margin: 0;
    padding: 0;
}

body,html{
    overflow-x: hidden;
    background-color:#00091a;
}

.row{
    color: antiquewhite;
}

.navbar{
    background-color: rgb(13, 27, 65);
}

.navbar-nav .nav-link {
    margin-left: 10%;
    font-size: 1.2rem;
    color: rgb(213, 211, 211) !important;
    transition: transform 0.4s ease-in;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color: rgb(238, 187, 18) !important;
}

.navbar-nav .nav-link.active {
    color: rgb(21, 255, 0)  !important;
    font-weight: bold;
}

.navbar-toggler{
    background-color: rgb(21, 255, 0);
}

#name{
    font-size: 2.5rem;
    color: rgb(213, 211, 211);
    font-weight: bold;
}

#about{
    padding-left: 10%;
    color:rgba(231, 117, 3, 0.707);
    font-weight: bolder;
    font-style:inherit;
    margin-top: 1%;
}

.school{
    margin-left: 6%;
    margin-top: 1%;
    margin-bottom: 10px;
}

.details{
    background-color: rgb(13, 27, 65);
    padding-left: 5%;
    padding-top: 7%;
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.details:hover{
    background-color: rgb(17, 39, 100);
    transform: scale(1.02);
}

.details:hover .links a{
    color: rgb(34, 255, 0);
}

.details:hover u{
    color:rgb(184, 224, 8);
}

.links a{
    color: #dcdde0;
    text-decoration: none;
    font-style:oblique;
}

.padd{
    margin-bottom: 10px;
}

@media(max-width : 990px){
    #name{
        padding-left: 30%;
        font-size: 3rem;
    }
}

@media(max-width : 767px){
    .school{
        margin-left: 12%;
        margin-top: 3%;
    }

    .padd{
        margin-bottom: 20px;
    }
}

@media(max-width : 650px){
    #name{
        padding-left: 20%;
        font-size: 3rem;
    }
}

@media(max-width : 575px){
    .school{
        margin-left: 7.5%;
        margin-top: 5%;
    }
}

@media(max-width : 500px){
    #name{
        padding-left: 10%;
        font-size: 8vw;
    }
}
